@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

  

div.flex-caption.content-en, .flex-caption-mobile.content-en, p.content-en, h3.content-en ,address.content-en, h2.content-en , table.content-en, ul.cbp_tmtimeline.content-en,  .data_wrap , li.content-en , ul.content-en , blockquote.content-en{
	text-align: left;
	 direction: ltr;
} 

 h4.content-en {
 	direction: ltr;
 }

.content-ar {
	display: none;
	font-family: 'Droid Arabic Naskh', serif;
	letter-spacing: 0px;
	font-size: 1.2vw;
	direction: rtl;
}

h1.content-ar {
	font-size: 2vw;
}

h1.content-ar small {
	font-size: 1.5vw;
	padding-top: 20px;
}

h3.content-ar small {
	font-size: 1.2vw;
	padding-right: 20px;
	line-height: 25px;
}

p.flex-caption.content-ar {
	right: 5%;
	font-size: 1.2vw;
}

p.content-ar img.jury-img {
	float: right;
	padding-left: 20px;
}

li.content-ar .fa-file-archive-o, .fa-file-pdf-o {
	padding-left: 10px;
}


